<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjektProgramowanie2_zamowienie.Properties.Settings.StoMaToLogiczneConnectionString"
            connectionString="Data Source=onlinegradebook.database.windows.net;Initial Catalog=StoMaToLogiczne;User ID=theedziu;Password=Kacper123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>